.social-links {

	&__header {
		position: absolute;
		top:-30px;
		border-bottom: 2px solid $gray-darker;
		border-right: 2px solid $gray-darker;
		border-left: 2px solid $gray-darker;
		border-bottom-right-radius: $border-radius-base * 1.5;
		border-bottom-left-radius: $border-radius-base * 1.5;
		padding: 0 2em;
		background: $brand-warning;

		li{
			display: inline-block;
			padding: 5px;
		}

		a {
			color:$gray-darker;
		}
	}

	&__footer{
		background: $brand-warning;
		padding: 2em 1.2em;
		font-size: .8em;
		border-radius: $border-radius-base;
	

		ul {
			margin-left: 0;
			padding-left: 0;

			li:first-of-type {
				a { color: $gray-darker; }
				a:hover {
					color: $gray-darker;
					padding: 0;
					background-color: lighten( $brand-warning, 10 );

				}
			}

			li {
				padding: 10px 0 10px 10px;
				a{
					color: $gray-darker;
					padding: 0;
				}
				a:hover {
					color: $gray-darker;
					padding: 0;
					background-color: lighten( $brand-warning, 10 );

				}
				&:hover {
					background-color: lighten( $brand-warning, 10 );
					cursor: pointer;
				}
			}
		}

		.fa {
			font-size: 1.6em;
			margin-right: 10px;
			font-weight: 800;
		}
	}
}