article.post {
	padding: 1em;
	margin-bottom: 3em;

	time {
		border: solid 3px $brand-primary;
		padding: 5px 10px;
		text-align: center;
		position: relative;
		display: block;
		color: $brand-primary;
	}

	.blog-date,
	.blog-month{
		display: block;
		font-weight: 800;
		width:100%
	}

	.blog-date {
		font-size: 28px;
	}

	.blog-month {
		font-size: 16px;
	}

	.entry-summary {
		margin-left: 1em;
	}

	.entry-title {
		a:hover {
			text-decoration: none;
			color: $brand-primary;

		}
	}
}

.social-share {
	.ess-buttons .ess-button-inner {
		color: $brand-primary;
		background-color:$brand-primary;
	}
}

aside.sidebar{
	padding-top: 35px;
}

.widget_categories {
	border: 2px solid $brand-primary;
	box-shadow: 5px 5px 0px 0px $brand-primary;
	border-radius: 0;
	text-transform: uppercase;
	font-weight: 800;
	padding: 1em;
	color: $brand-primary;
	transition: ease .2s all;
	margin-top: 0.5em; 
	margin-bottom:0.5em;
	width: 200px;

	h3 {
		border-top: 2px solid $brand-primary;
		border-bottom: 2px solid $brand-primary;
		padding: 0.5em 0.5em;
		margin-top:0;
		font-weight: 800;
	}

	ul {
		margin-left: 0;
		padding-left: 0;
	}
}